*.pyc
/AndorSDK
/build
/dist
/openwfom.egg*
openwfom/JavaGUI/.settings
openwfom/JavaGUI/.project
openwfom/JavaGUI/.classpath
openwfom/JavaGUI/*.json
openwfom/resources/tests/*
openwfom/resources/webcam/*
